
img {
}

.authForm {
    padding-top: 20px;
    width: 300px;
    margin:auto;
    background-color: cornflowerblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: .9;
    margin-top: 15px;
    padding-bottom: 45px;
    border: 3px #4b4b4b solid;
    border-radius: 2rem;
}

.authFormInput {
    margin: auto;
    display: inline-block;
    text-align: center;
}