
.app-name{
    //color: rgb(204, 90, 204); //in a inline style for bootstrap override
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.username {
    color: cornflowerblue;
    font-weight: 600;
}