.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  opacity: .1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  margin: 0;
  height: 100%;
}

body{
  margin: 0;
  height: 100%;
  background-image: linear-gradient(90deg,purple,red);
} 

.center {
  margin: auto;
}

.authForm {
  padding-top: 20px;
}

.authFormInput {
  margin: auto;
  display: inline-block;
  text-align: center;
}

.searchForm {
  margin: auto;
  text-align: center;
}

.background-theme {
  
  background-size: 100%;
  height: 100%;
}