
$break-small: 575px;
$break-medium: 990px;

.finalEvent {
    background-color: #e9ecef;
    border-radius: .5em;
    padding: 2em;

    .finalEvent-img {
        border-radius: 1em;
        border: 3px rgba(95, 95, 95, 0.918) solid;
        width: 25em;
        height: 25em;

        @media screen and (max-width: $break-medium){
            width: 15em;
            height: 15em;   
        }
    }

    .location {
        font-weight: bold;
        font-size: 18px;
    }
}